<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1</title>
</head>
<body>
    <table border="1" width="100%" cellpadding="10" cellspacing="0">
        <tr>
            <td height="200" colspan="2">Header</td>
        </tr>

        <tr>
            <td width="30%" rowspan="2">Side Navigation</td>
            <td width="*" height="500">Main</td>
        </tr>

        <tr>
            <td height="100">Footer</td>            
        </tr>
    </table>
</body>
</html>